<div class="authentication">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-sm-12">
                <form class="card auth_form">
                    <div class="header">
                        <img class="logo" src="assets/themes/aero/assets/images/logo100x100.png" alt="">
                        <h5>Kullanıcı Girişi</h5>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            <input class="form-control"  name="email" type="text"  placeholder="E-mail yada Kimlik No">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control"  name="password" type="password"  placeholder="Şifre">
                            <div class="input-group-append">                                
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>                            
                        </div>
                        <div class="mb-3" style="text-align: right">
                            <a style="font-size: 11px;" >Şifremi Unuttum</a>
                        </div>
                        <button 
                            (click)="login()" 
                            
                            >
                            Giriş Yap
                        </button>                        
                        
                    </div>
                </form>
                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> 2021,
                    <span><a href="http://www.omersavas.com">omersavas</a></span>
                </div>                
            </div>

        </div>
    </div>
</div>