<div class="container">
    <div class="row justify-content-center mt-3 align-items-center h-100">
        
        <div class="col-lg-4 col-md-6 col-sm-6 ">
            
            <div class="card  shadow-lg rounded-7 login-form justify-content-center" style="border-radius: 1rem;">           
                <div class="card-body">

                    <!-- <div class="px-5 ms-xl-4">
                        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                        <span class="h1 fw-bold mb-0">Logo</span>
                    </div> -->
                    <div class="header ">
                        <img class="logo" class="rounded mx-auto d-block"  src="assets/img/Adsız.png" alt="">
                        <h5 class="text-center">Login</h5>
                    </div>
                    
                        <form>
                            <label for="exampleInputEmail1">Email </label>
                            <div class="input-group form-group mb-4 mt-2">
                                
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope ti-email"></i></span>
                                </div>
                                <input type="email" class="form-control form-control-sm" placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                                
                            </div>
                            
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            <div class="input-group mb-4 mt-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control form-control-sm" placeholder="*****" required="" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4 rounded-5 ">GİRİŞ</button>
                            
                            
                        </form>
                        
            
                    <div class="copyright text-center">
                        Copyright &copy; 2021 &mdash; Mehmet Çanak
                    </div>  
                 </div>
            </div>
        </div>
    </div>
</div>
